a {
  text-decoration: none;
  color: #ffffff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--margin-main);
}

img.header-logo {
  height: 120px;
  margin: 40px auto;
  display: block;
}

nav.header-nav {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  // justify-content: space-evenly;
}

nav.header-nav a {
  text-transform: uppercase;
  user-select: none;
  font-weight: bold;
  // padding: 25px 0;
  flex: auto 0 0;
  text-align: center;

  &.active {
    color: var(--col-active-link);
    text-shadow: var(--shadow-params);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:hover:not(.active) {
    color: #ddd
  }
}