.albums {
  .albums-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
  }

  .album-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    figure {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .img {
        // max-height: 200px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding-bottom: 100%;
        position: relative;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      figcaption {
        text-align: center;
        max-width: 200px;
        margin: 15px;
        word-wrap: break-word;
        text-transform: uppercase;
      }
    }
  }
}

.album-info {
  display: flex;

  * {
    color: var(--col-main);
  }

  ul {
    list-style: none;
    padding: 25px 0;
  }

  .album-tracks {
    flex: auto 1 1;
  }

  .album-right-bar {
    flex: 30% 0 0;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 840px) {
  .albums .albums-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .albums .albums-container {
    grid-template-columns: 1fr;
  }
}
